body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    color: black;
    text-align: center;
}

h1 {
    color:orangered;
    font-size: xx-large;
    text-align: center;
}

#message-el {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: x-large;
    text-align: center;
}

#start-btn {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: hidden;
    font-size: large;
}

#newCard-btn {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: hidden;
    font-size: large;
}